@model Monolithic_SinglePage.Models.ViewModel.CategoryViewModel
@{
    ViewBag.Title = "Category";
    Layout = null;

}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.5.1.js"></script>
    <link rel="icon" href="favicon.ico" type="image/ico" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />



</head>
<body>

    <div class="container-fluid">
        <h3>Category Sakhtam </h3>
        <p>¯\_(ツ)_/¯</p>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row form-group-sm" id="toolbar">
                <div class="col-sm-1"></div>
                <div>
                    <input class="btn btn-success col-sm-2" type="button" name="saveButton" id="btnSave" value="Save" />
                </div>
                <div class="col-sm-1"></div>
                <div>
                    <input class="btn btn-warning col-sm-2" type="button" name="editButton" id="btnEdit" value="Edit" />
                </div>
                <div class="col-sm-1"></div>
                <div>
                    <input class="btn btn-danger col-sm-2" type="button" name="deleteButton" id="btnDelete" value="Delete" />
                </div>
                <div class="col-sm-1"></div>
                <div>
                    <input class="btn btn-info col-sm-2" type="button" name="refreshButton" id="btnRefresh" value="Refresh" />
                </div>
                <div class="col-sm-1"></div>
            </div>

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Code, new { id = "code", HtmlAttribute = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Title, new { id = "title", HtmlAttribute = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                </div>


            </div>
        }

        <table id="Category_Grid"   class="table" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;">
            <tr>
              
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Get_Category())
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                </tr>
            }

        </table>




    </div>



    @*_______________________________JavaScript___________________________________*@
    <script type="text/javascript">
        //-------------Save------------//
       

            $("#btnSave").click(function () {
                let ref_CategoryViewModel = {Code: $('#code').val(), Title: $('#title').val()};
                console.log("Code" + ref_CategoryViewModel.Code);
                $.ajax({
                    url: "/Category/Create",
                    data: JSON.stringify( ref_CategoryViewModel),
                    type: "POST",
                    contentType: "application/jsonn;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        console.log("success");
                        location.reload();
                    },
                    error: function (errormessage) {
                        console.log(errormessage.responseText);
                    }
           
                });



            })
        

            













    </script>


</body>


</html>